<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>base</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:fragment="navlinks" id="navlinks">

    <div sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-sm">

            <ul class="navbar-nav" style="width: 100%;">
                <li class="nav-item">
                    <a class="nav-link" href="/homepage">Home</a>
                </li>

                <li>
                    <a class="nav-link" href="/productlist">Product Listing</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>


                <!--Search-->
                <form action="#" th:action="@{/search}"class="form-inline my-2 my-lg-0 ml-auto" style="float: right">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="keyword">
                    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                </form>

                
            </ul>

        </nav>
    </div>
    <div sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-sm" style="width: 100%;">
            <ul class="navbar-nav" style="width: 100%;">
                <li class="nav-item">
                    <a class="nav-link" href="/homepage" th:inline="text">Hello, [[${user.firstName}]]</a>
                </li>
                <li>
                    <a class="nav-link" href="/productlist">Product Listing</a>
                </li>

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <div th:inline="text">[[${user.firstName}]]'s</div>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="/detailUser">Your Account</a>
                        <a class="dropdown-item" href="/showOrderHistory">Order History</a>
                        <a class="dropdown-item" href="/wishlist">View Wishlist</a>
                        <a class="dropdown-item" href="/addproduct" sec:authorize="hasAuthority('ADMIN')">Add a Product</a>
                    </div>
                    </a>
                </li>
                <!--Shopping Cart-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cart
                        <div class="icon-cart">
                            <div class="cart-line-1" style="background-color: #E5E9EA"></div>
                            <div class="cart-line-2" style="background-color: #E5E9EA"></div>
                            <div class="cart-line-3" th:text="${cartnumber}"></div>
                            <div class="cart-wheel" style="background-color: #E5E9EA"></div>
                        </div>
                        </a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">

                            <li th:if="${user.getCarts() == null}">
                                <span class="item" style="text-align: center">

                                    <span>
                                        <span style='font-size:50px;'>&#9924;</span><br />
                                    </span>
                                    <span>Oh No!</span><br />
                                    <span>Your cart is empty.</span><br />
                                </span>

                            </li>
                            <li th:if="${carts != null}">
                              <span th:each="product : ${carts.getProducts()}" class="item">
                                <span class="item-left">
                                    <img th:src="${product.image}" alt="Product Image" />
                                    <span class="item-info">
                                        <span th:text="${product.name}"></span>
                                        <span th:text="${product.price}"></span>
                                    </span>
                                </span>
                                <span class="item-right">
                                     <a class="btn btn-xs btn-danger pull-right" th:href="@{/remove/{id} (id=${product.id})}">x</a>
                                </span>
                              </span>
                            </li>


                            </span>
                            </li>
                            <li class="divider"></li>
                            <li><a class="text-center" style="text-align: center;" th:href="@{/cart}">View Cart</a></li>
                        </ul>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <!--Search-->
                <form action="#" th:action="@{/search}"class="form-inline my-2 my-lg-0 ml-auto" style="float: right">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="keyword">
                    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                </form>

            </ul>

        </nav>
    </div>

</div>


<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>