<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Jacob CSS-->
    <link rel="stylesheet" href="/css/jacob.css" type="text/css"/>

    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<div th:replace="security/base :: navlinks"></div>

<div class="text-center mb-4">
    <div class="login-logo">
        <img class="mb-4" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559931770/308c1fe3-dfb3-4856-aafd-803cdb07c9f9_200x200_ellx6a.png" alt=""/>
    </div>
    <h3 class="mb-3 font-weight-normal">Catagories</h3>
</div>
<div class="container">

    <div class="row">
<!--Books-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559937065/library_20books_f6ermr.jpg" alt="Product image cap">
                <div class="card-body">
                    <p class="card-text">Books</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${1}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
<!--Electronics-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559767116/51mo908e-4L._SL500_AC_SS350__pvbsy6.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Electronics</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${2}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
<!--Men's Fashion-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559938475/a0c57f92d4abcc2f0e590030340f3116_zamjbj-Original_zvjwla.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Men's Fashion</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${3}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>
                        </div>

                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
<!--Kitchen-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559935414/kitchen.image_fm9cj4.jpg" alt="Kitchen">
                <div class="card-body">
                    <p class="card-text">Kitchen</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${4}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
<!--Health & Wellness-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559935829/81Wbjnc5DhL._AC_UL320__dafald.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Health & Wellness</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${5}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/db9bfssj4/image/upload/v1559939535/all-products-s_ahbpig.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">All</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="#" th:action="@{/productlist}" method="post">
                                <input type="hidden" name="category" th:value="${6}" />

                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                            </form>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>