<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Account
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/jin/detailUser">Your Account</a>
        <a class="dropdown-item" href="/jin/showOrderHistory">Order History</a>
        <a class="dropdown-item" href="#">Anything</a>
    </div>
</div>


</body>
</html>