<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Order History</title>
</head>
<body>
<table class="table table-borderless">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${user.history.getProducts()}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>

    <!-- 1st
    <tr th:each="product : ${user.getCarts().products}">-->
        <!--<td th:text="${product.name}"></td>-->
        <!--<td th:text="${product.quantity}"></td>-->
        <!--<td th:text="${product.price}"></td>-->
        <!--&lt;!&ndash;<td><a th:href="@{/detailProduct/{id}(id=${product.id})}" class="btn btn-info" role="button">Details</a></td>&ndash;&gt;-->
    <!--</tr>-->

    <!--2nd-->
    <!--<tr th:each="cart : ${user.carts}">-->
        <!--<div th:each="product: ${cart.products}">-->
            <!--<td th:text="${product.name}"></td>-->
            <!--<td th:text="${product.quantity}"></td>-->
            <!--<td th:text="${product.price}"></td>-->

        <!--<td><a th:href="@{/detailProduct/{id}(id=${product.id})}" class="btn btn-info" role="button">Details</a></td>-->
        <!--call #2.product detail page-->

    </tr>
    </tbody>
</table>
</body>
</html>